.Contact{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.details{
    background: darkgray;
    padding: 10px;
    margin: 10px;
}
.Contact h1{
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    text-shadow: 10px 10px 10px #000,-10px -10px 10px #000;
    color: rgb(26 137 156);
    font-size: 3rem;
}
@media (max-width: 1000px){
    .Contact{
        margin: 5vh 0;
    }
}